main {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  

  
  th, td {
    padding: 10px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .closeOrder {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b32825;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;

  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
  }

  #button-download {
    background-color: #4caf50;
  }


