#message{
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    width: 350px;
    overflow: auto;
    max-width: 400px;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 375px;
  }
  
  #messageForm {
    flex: 1;
  }
  
  .messages {
    flex: 1;
  }


  .sidebar-message {
    width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    transform: translateX(-100%);
    /* transition: transform 0.3s ease-out; */
    padding-top: 70px;

  }

  .sidebar-message.show {
    transform: translateX(0);
    box-shadow: blue 1px 1px 1px;
  }

  .write-message{
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    color: black;
    position: absolute;
    box-shadow: blue 2px 2px 2px;; 
  }

  .info {
    white-space: nowrap;
  }