#message{
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    width: 100%;

    overflow: auto;
    position: relative;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 400px;
  }
  
  #messageForm {
    flex: 1;
    margin-right: 20px;
  }
  
  .messages {
    flex: 1;
  }